body{
    display: flex;
    background-color: #E6EFF6;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction:column;
    width: 630px;
    height: 475px;
    font-family: 'Karla', sans-serif;
}
.blanco{
    width: 630px;
    height: 218px;
    background-color: white;
    line-height: 30px;
}
.join{
    width: 590px;
    height: 75px;
}
.join p{
    font-size: 24px;
    color:#38B3B0;
    margin: 0;
    font-weight: 900;
    padding-top: 40px;
}
.day{
    width: 590px;
    height: 36px;
    padding-top: 19px; 
}
.day p{
    font-size: 18px;
    color:#C0D949;
    font-weight: 400;
    margin: 0;
}
.gayn{
    width: 590px;
    height: 80px;
}
.gayn p{
    font-size: 15px;
    color: #BABDC6;
    margin: 0;
    font-weight: 400;
    margin-top: 5px;
}
.margenes{
    margin-left: 35px;
}
.abajo{
    flex-direction: row;
    display: flex;
    width: 630px;
    height: 255px;
    background-color: white;
    line-height: 30px;
}
.medidas{
    width: 315px;
    height: 255px;
    color: white;
}
.izquierda{
    background-color: #2BB3B1;
}
.derecha{
    display: flex;
    flex-direction: column;
    background-color: #4ABEBD;
}
.why{
    width: 61px;
    height: 25px;
    margin: 0px;
    font-weight: 900;
    font-size: 17px;
    padding-top: 40px;
    padding-left: 35px;
}
.tutorial{
    width: 184px;
    height: 160px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 35px;
}
.izquierda p{
    margin: 0px;
}
.contex{
    padding-top: 40px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
}
.contex tx1{
    font-size: 18px;
    font-weight: 900;
}
.contex tx2{
    font-size: 36px;
    font-weight: 900;
    margin-top: 10px
}
.contex tx2 tx21{
    font-size: 15px;
    color: #E5E5E5;
    font-weight: 400;
}
button{
    width: 238px;
    height: 49px;
    background-color: #BFDF32;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 15px;
}
@media screen and (max-width: 800px){
    main{
        display: flex;
        flex-direction: column;
        width: 308px;
        height: 760px;
    }
    .blanco{
        width: 307px;
        height: 270px;
    }
    .medidas{
        width: 307px;
    }
    .abajo{
        display: flex;
        flex-direction: column;
        height: 490px;
        width: 303px;
    }
    .gayn p {
        width: 260px;
        height: 114px;
        font-size: 14px;
        line-height: 25px;
    }
    .day{
        width: 260px;
        margin-bottom: 20px;
    }
    .day p{
        font-size: 14px;
        line-height: 20px;
    }
}