body{
    background-color: EDF2F8;
}
main{
    display: flex;
    Width:731px;
    Height:281px;
    margin: 0 auto;
    margin-top: 200;
    background-color: white;
   

    
}


article{
    font-family: "Manrope",sans-serif;
    color: #565D6D;
    Width: 731px;
    Height:281px;
    margin: 20 50 50 50;
    
}



h2{
    font-weight: lighter;
    font-size: 14px;
}
h1 {
    
    font-weight: bold;
    font-size: 21px;
}

main{
    display: flex;
    flex-flow: row-reverse;
    border-radius: 15px;
}

img{
    
    width: 285px;
    height: 281px;
    border-radius: 15px 0px 0px px;
}
.texto{
    Width: 355px;
    height: 217px;

}

.imagen2{
    display: flex;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    margin: 15 0 0 0 ;
    
}
.m{
    margin: 20 ;
    font-weight: bold;
    font-size: 13px;
}

.nombre{
    display: flex;
}

.fecha h3{
    margin:-20 62 60 ;
    font-size: 13px;
    font-family: "Manrope",sans-serif;
    font-weight: normal;

}

.boton{
    width: 29px;
    height: 29px ;
    margin: -90 340 0  ; 
}


   

