body{
    background-color: #EDF2F8;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
main{
    display: flex;
    Width:731px;
    Height:281px;
    background-color: white;
   
    
}


article{
    font-family: "Manrope",sans-serif;
    color: #565D6D;
    Width: 731px;
    Height:281px;
    margin: 20 50 50 50;
    
}



h2{
    font-weight: lighter;
    font-size: 14px;
}
h1 {
    
    font-weight: bold;
    font-size: 21px;
}

main{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px
}

img{
    
    width: 285px;
    height: 281px;
    border-radius: 15px 0px 0px 15px;
}
.texto{
    Width: 355px;
    height: 217px;

}

.imagen2{
    display: flex;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    margin: 15 0 0 0 ;
    
}
.m{
    margin: 20px ;
    font-weight: bold;
    font-size: 13px;
}

.nombre{
    display: flex;
}

.fecha h3{
    margin :-20 62 60 ;
    font-size: 13px;
    font-family: "Manrope",sans-serif;
    font-weight: normal;

}

.boton{
    width: 29px;
    height: 29px ;
    margin: -90 340 0 ; 
}

.boton-select{
    width: 29px;
    height: 29px ;
    margin: -90 340 0 ; 
}

.redes{
    height: 56px;
    width: 250px;
    background-color: #49556B;
    border-radius: 5px;
    margin-left: -180px;
    margin-bottom: -40px;
    
}



.compartir{
    font-size: 15px;
    margin: 25 -10 0 60;
    
    

}

.redes { 
    color:gray;
    font-weight:lighter;
    font-size: 10px;
    display: block;
    
    
    

    
}


.redes{
    display: none;
    margin: -125 40 0 250;
    
}

.compa:hover .redes{
    display: block;
}


.boton-select{
    display:none;
}
.compa:hover .boton-select{
    display: block;
}
.icon{
    margin: 0 200 0;
}

.fa-twitter{
    color:white;
    margin-right: 7px;
    
  
}
.fa-facebook-square{
    color: white;
    margin-right: 7px;
    margin: -40;
 
}

.fa-pinterest-square{
    color: white;
    margin-left: 7px;
    
}


@media screen and (max-width: 700px) {
    body{

        Width:  365px;
        Height: 667px;
        margin: 50px;
        
    }

    main{
        width: 329px;
        height: 312px;
        flex-direction:column-reverse;
    }

    article{
        width: 300px;
        height: 100%;
    }
    .texto{
        width: 272px;
        height: 84px;
        margin: 0 0 140 -25;
      
       
    }

    img{
        width: 329px;
        height: 200px;
        margin: 0 0 -30 0; 
    }

   
    
    .boton{
        margin: -90 0 -60 250;
        flex-direction: row;
       
   }
   .boton-select{
    margin: -90 0 -60 250;
    flex-direction: row;
   }

   h2{
    font-size: 15px;
   }

   h1{
       font-size: 15px;
       margin: 37px 20 0 0;
   }

   .redes{
       margin: 20 20 20 20;
   }

}



   

